--find-links https://download.pytorch.org/whl/cu110/torch_stable.html
torch==1.7.1+cu110
torchvision==0.8.2+cu110
numpy==1.21.6
opencv-python==4.2.0.32
tensorboard==1.14.0
tensorboardX==2.5.1
Pillow==9.2.0
tqdm==4.35.0
wandb==0.12.21
protobuf==3.20.1